In [1]:
import pandas as pd

In [2]:
cols = ["Name", "Salary"]
company21 = pd.read_csv(
    "company21.csv", 
    sep=';',
    usecols=cols
    )
company22 = pd.read_csv(
    "company22.csv", 
    sep=';',
    usecols=cols
    )

`Outer (MINUS)` - this gives those values which are unique in both of the datasets

In [3]:
# for outer minus as well we need to create mask

mergged = pd.merge(
    left=company21,
    right=company22,
    how='outer', 
    on="Name", 
    suffixes=('_21', '_22'),
    indicator=True 
)

mergged[mergged['_merge'] != 'both']

         Name  Salary_21  Salary_22      _merge
3        Emma    20000.0        NaN   left_only
5         Ava   100000.0        NaN   left_only
6   Alexander    20000.0        NaN   left_only
10     Robert        NaN    20000.0  right_only
11      Maria        NaN   150000.0  right_only
12   Federico        NaN   150000.0  right_only
13    Philipp        NaN    60000.0  right_only