### Let's learn how we can modify index

In [1]:
import pandas as pd

In [3]:
cols = ['Series_Title', 'IMDB_Rating', 'No_of_Votes']

In [5]:
df = pd.read_csv("imdb_top_1000.csv", usecols=cols)
df

                 Series_Title  IMDB_Rating  No_of_Votes
0    The Shawshank Redemption          9.3      2343110
1               The Godfather          9.2      1620367
2             The Dark Knight          9.0      2303232
3      The Godfather: Part II          9.0      1129952
4                12 Angry Men          9.0       689845
..                        ...          ...          ...
995    Breakfast at Tiffany's          7.6       166544
996                     Giant          7.6        34075
997     From Here to Eternity          7.6        43374
998                  Lifeboat          7.6        26471
999              The 39 Steps          7.6        51853

[1000 rows x 3 columns]

### set_index() method
it takes two arguments
* `drop` - removes the column which has now become the index (True by default).
* `inplace` - going to update the dataframe (False by default)

In [6]:
# settting Series_Title column as index
df.set_index('Series_Title', drop=False, inplace=False)
# so wierd thing is we can now see two columns with Series_Title name.
# so setting drop to True will remove that duplicated column.

                                      Series_Title  IMDB_Rating  No_of_Votes
Series_Title
The Shawshank Redemption  The Shawshank Redemption          9.3      2343110
The Godfather                        The Godfather          9.2      1620367
The Dark Knight                    The Dark Knight          9.0      2303232
The Godfather: Part II      The Godfather: Part II          9.0      1129952
12 Angry Men                          12 Angry Men          9.0       689845
...                                            ...          ...          ...
Breakfast at Tiffany's      Breakfast at Tiffany's          7.6       166544
Giant                                        Giant          7.6        34075
From Here to Eternity        From Here to Eternity          7.6        43374
Lifeboat                                  Lifeboat          7.6        26471
The 39 Steps                          The 39 Steps          7.6        51853

[1000 rows x 3 columns]

In [8]:
df.set_index('Series_Title') # by default drop is True

                          IMDB_Rating  No_of_Votes
Series_Title
The Shawshank Redemption          9.3      2343110
The Godfather                     9.2      1620367
The Dark Knight                   9.0      2303232
The Godfather: Part II            9.0      1129952
12 Angry Men                      9.0       689845
...                               ...          ...
Breakfast at Tiffany's            7.6       166544
Giant                             7.6        34075
From Here to Eternity             7.6        43374
Lifeboat                          7.6        26471
The 39 Steps                      7.6        51853

[1000 rows x 2 columns]

In [10]:
# we can even change the Title of the index
df.index.name = 'Custom title'
df

                          Series_Title  IMDB_Rating  No_of_Votes
Custom title
0             The Shawshank Redemption          9.3      2343110
1                        The Godfather          9.2      1620367
2                      The Dark Knight          9.0      2303232
3               The Godfather: Part II          9.0      1129952
4                         12 Angry Men          9.0       689845
...                                ...          ...          ...
995             Breakfast at Tiffany's          7.6       166544
996                              Giant          7.6        34075
997              From Here to Eternity          7.6        43374
998                           Lifeboat          7.6        26471
999                       The 39 Steps          7.6        51853

[1000 rows x 3 columns]

### reset_index()
* Resets the indec

In [11]:
df.reset_index()

     Custom title              Series_Title  IMDB_Rating  No_of_Votes
0               0  The Shawshank Redemption          9.3      2343110
1               1             The Godfather          9.2      1620367
2               2           The Dark Knight          9.0      2303232
3               3    The Godfather: Part II          9.0      1129952
4               4              12 Angry Men          9.0       689845
..            ...                       ...          ...          ...
995           995    Breakfast at Tiffany's          7.6       166544
996           996                     Giant          7.6        34075
997           997     From Here to Eternity          7.6        43374
998           998                  Lifeboat          7.6        26471
999           999              The 39 Steps          7.6        51853

[1000 rows x 4 columns]