In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("imdb_top_1000.csv")
df.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [3]:
# readomg some column which exists
df['Poster_Link'].head()

0    https://m.media-amazon.com/images/M/MV5BMDFkYT...
1    https://m.media-amazon.com/images/M/MV5BM2MyNj...
2    https://m.media-amazon.com/images/M/MV5BMTMxNT...
3    https://m.media-amazon.com/images/M/MV5BMWMwMG...
4    https://m.media-amazon.com/images/M/MV5BMWU4N2...
Name: Poster_Link, dtype: object

### Trying to read a column that does not exists

In [4]:
df['this_wont_exists'] # gives error

KeyError: 'this_wont_exists'

In [5]:
# we can create that column and sets all the values to False intially.
df['this_wont_exists'] = False
df.head(1)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross,this_wont_exists
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469",False

In [6]:
# if we want to set a new column at a specific location
# we can use insert and set location to 2 (because I wanted to insert it as 3rd Column)
# Alsoe initial values I've set None in that column
df.insert(loc=2, column='new_col', value=None)
df.columns

Index(['Poster_Link', 'Series_Title', 'new_col', 'Released_Year',
       'Certificate', 'Runtime', 'Genre', 'IMDB_Rating', 'Overview',
       'Meta_score', 'Director', 'Star1', 'Star2', 'Star3', 'Star4',
       'No_of_Votes', 'Gross', 'this_wont_exists'],
      dtype='object')

## Other ways to Add a new column in existing DataFrame

### 1. Assigning a List or Series Directly

In [7]:
# Example DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

# Adding a new column 'C' with a list of values
df['C'] = [7, 8, 9]

df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

### 2. Using .assign() Method

In [8]:
# Adding a new column 'D' using .assign()
df = df.assign(D=[10, 11, 12]) # assign() method takes, a dict with values as callable

df

   A  B  C   D
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12

### 3. Using a Function to Create Column Values

In [9]:
# Adding a new column 'E' that is the sum of columns 'A' and 'B'
df['E'] = df['A'] + df['B']

df

   A  B  C   D  E
0  1  4  7  10  5
1  2  5  8  11  7
2  3  6  9  12  9

### 4. Using .loc or .iloc Indexing
You can also use `.loc` or `.iloc` to add a column to a specific position.
But to add column to a specific location, I would prefer `insert(loc, column, value, allow_duplicats=False)`

In [10]:
# Adding a new column 'F' at a specific location using .loc
df.loc[:, 'F'] = [13, 14, 15] # the : inside the .loc method specifies that we are selecting all rows in the DataFrame.

df

   A  B  C   D  E   F
0  1  4  7  10  5  13
1  2  5  8  11  7  14
2  3  6  9  12  9  15