In [1]:
import pandas as pd

`.dt` allows us to access our datetime objects in Series and Dataframes

In [3]:
one_week = pd.date_range(
    start='2023.03.01',
    end='2023.03.07'
)
one_week

DatetimeIndex(['2023-03-01', '2023-03-02', '2023-03-03', '2023-03-04',
               '2023-03-05', '2023-03-06', '2023-03-07'],
              dtype='datetime64[ns]', freq='D')

In [4]:
one_week_df =pd.Series(one_week).to_frame(name='Dates')
one_week_df

       Dates
0 2023-03-01
1 2023-03-02
2 2023-03-03
3 2023-03-04
4 2023-03-05
5 2023-03-06
6 2023-03-07

In [5]:
one_week_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Dates   7 non-null      datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 188.0 bytes

We can now use all the attributes related to datetime objects on those elements via `.dt`

In [6]:
one_week_df['Dates']

0   2023-03-01
1   2023-03-02
2   2023-03-03
3   2023-03-04
4   2023-03-05
5   2023-03-06
6   2023-03-07
Name: Dates, dtype: datetime64[ns]

In [7]:
one_week_df['Dates'].dt

In [8]:
one_week_df['Dates'].dt.day

0    1
1    2
2    3
3    4
4    5
5    6
6    7
Name: Dates, dtype: int32

In [9]:
one_week_df['Dates'].dt.month

0    3
1    3
2    3
3    3
4    3
5    3
6    3
Name: Dates, dtype: int32

In [10]:
one_week_df['Dates'].dt.year

0    2023
1    2023
2    2023
3    2023
4    2023
5    2023
6    2023
Name: Dates, dtype: int32

In [11]:
one_week_df['Dates'].dt.day_name()

0    Wednesday
1     Thursday
2       Friday
3     Saturday
4       Sunday
5       Monday
6      Tuesday
Name: Dates, dtype: object

In [13]:
# converting to period
one_week_df['Dates'].dt.to_period()

0    2023-03-01
1    2023-03-02
2    2023-03-03
3    2023-03-04
4    2023-03-05
5    2023-03-06
6    2023-03-07
Name: Dates, dtype: period[D]