In [1]:
import pandas as pd

In [7]:
twelve_months = pd.date_range(
    start = '2024.1',
    end = '2024.12',
    freq='MS'
)

df = pd.Series(
    data='something',
    index=twelve_months
    ).to_frame('Data')

df

                 Data
2024-01-01  something
2024-02-01  something
2024-03-01  something
2024-04-01  something
2024-05-01  something
2024-06-01  something
2024-07-01  something
2024-08-01  something
2024-09-01  something
2024-10-01  something
2024-11-01  something
2024-12-01  something

In [9]:
# we can directly refer to them via the index without .dt
ts = df.index[0]
ts

Timestamp('2024-01-01 00:00:00')

In [10]:
ts.month_name()

'January'

In [11]:
ts.day_name()

'Monday'

In [12]:
ts.year

2024

Using above data

In [13]:
df.index

DatetimeIndex(['2024-01-01', '2024-02-01', '2024-03-01', '2024-04-01',
               '2024-05-01', '2024-06-01', '2024-07-01', '2024-08-01',
               '2024-09-01', '2024-10-01', '2024-11-01', '2024-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [14]:
df.index.month_name()

Index(['January', 'February', 'March', 'April', 'May', 'June', 'July',
       'August', 'September', 'October', 'November', 'December'],
      dtype='object')

In [15]:
df['Month']=df.index.month_name()
df

                 Data      Month
2024-01-01  something    January
2024-02-01  something   February
2024-03-01  something      March
2024-04-01  something      April
2024-05-01  something        May
2024-06-01  something       June
2024-07-01  something       July
2024-08-01  something     August
2024-09-01  something  September
2024-10-01  something    October
2024-11-01  something   November
2024-12-01  something   December