### Attributes
* Attributes are variables that belong to a pandas object (like a DataFrame or Series).
* They represent the properties of that object and do not change the object itself.
* You access an attribute using the dot notation, and they do not require parentheses
* Attributes are typically used to retrieve specific information about the state or properties of an object.

In [2]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie'], 
    'Age': [25, 30, 35]
}

# Creating a simple DataFrame
df = pd.DataFrame(data=data)
print(df)
print()

# Accessing an attribute: 'shape'
# 'shape' returns the dimensions of the DataFrame
# shape attribute help us find df dimensions (number of rows and columns)
print("Shape of DataFrame:", df.shape)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

Shape of DataFrame: (3, 2)

In [4]:
# lets try on Series

num = [1,2,3,4]
df = pd.Series(data=num)

# lets try to find out data type for the series
df.dtype

dtype('int64')

In [5]:
# lets try it on alphabets

name = ["ash", "porwal"]
df = pd.Series(data=name)
df.dtype # this will return dtype('O') and O stands for Object

dtype('O')

In [6]:
# we can even get the array of that pandas object
print(df.values) # if you want it to suggest you methods/attributes then press TAB after dot(.)
print()
# further if you want to convert that into proper list then
list(df.values) # but I would prefer - .to_list()

['ash', 'porwal']

In [7]:
# we can get the information about the index as well
df.index

RangeIndex(start=0, stop=2, step=1)

In [8]:
# sometimes our pandas object contains NaN(missing values)
# to find out we have this attribute -> returns Boolean
# but we can't use this in a DataFrame, we can only use it in a series
df.hasnans # fot a DataFrame, we use method: df.isna()

False

In [3]:
# Let's try to find if we have None value in a DataFrame or not.
# So, we need .isna() method
temp_df = pd.DataFrame({'A': [1, 2, pd.NA], 'B': [4, pd.NA, 6]})
print(temp_df)
print()

# df.isna(): 
#   Returns a DataFrame of the same shape as df with True for NaN values 
#   and False for non-NaN values.
print(temp_df.isna())
print()

# df.isna().any(): 
#   Returns a Series indicating whether any value in each column is NaN
print(temp_df.isna().any())
print()

# df.isna().any().any(): 
#   Combines the result to check if any column has any NaN value, 
#   returning True if any NaNs are found in the entire DataFrame.
print(temp_df.isna().any().any())

      A     B
0     1     4
1     2  <NA>
2  <NA>     6

       A      B
0  False  False
1  False   True
2   True  False

A    True
B    True
dtype: bool

True

In [ ]:
# If we are looking for count the nulls in each column then we can simply do - 
temp_df.isna().sum()

In [ ]:
# lets create a new series with missing value
new_df = pd.Series(data=[32,45,None]) # None will get convert into NaN
# and instead of using None, we could also use pd.NA - for example: pd.Series(data=[32,45,pd.NA])
print(new_df)
print()

# lets check if it has None or not with attribute
new_df.hasnans # However, Series.isna() behaves the same way for a Series as it does for a DataFrame. So, new_df.isna() will work.

0    32.0
1    45.0
2     NaN
dtype: float64

True

In [11]:
# lets try to find out size of the series
new_df.size #as new_df contains 3 elements so it will return 3

3

## Suppose in a DataFrame/Series we want to get a list from it - 

* So, in case of Series or a single column - we use `.to_list()` method, to get the list of that column values.
### Series example - 

```
>>> s=pd.Series(data=[1,2,3,4])
>>>
>>> s
0    1
1    2
2    3
3    4
dtype: int64
>>> 
>>> s.to_list()
[1, 2, 3, 4]  # got our output
>>>
```

### DataFrame - converting a single column to list
```
>>> df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
>>> df
   A  B
0  1  4
1  2  5
2  3  6
>>> 
>>> df['A'].to_list()
[1, 2, 3]  # got our output
>>> 
>>> 
```

* Suppose, we have more than 1 column in a DataFrame, then it is going to convert it into dict
   we are going to use `.to_dict('list')` method
```
>>> df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
>>> df
   A  B
0  1  4
1  2  5
2  3  6
>>> 
# DF.to_dict can take orient argument so `temp_df.to_dict(orient='dict')` 
>>> df.to_dict('list')  # this is similar to - `df.to_dict(orient ='list')`
{'A': [1, 2, 3], 'B': [4, 5, 6]} # got our output
```