### Attributes
* Attributes are variables that belong to a pandas object (like a DataFrame or Series).
* They represent the properties of that object and do not change the object itself.
* You access an attribute using the dot notation, and they do not require parentheses
* Attributes are typically used to retrieve specific information about the state or properties of an object.

In [3]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie'], 
    'Age': [25, 30, 35]
}

# Creating a simple DataFrame
df = pd.DataFrame(data)
print(df)
print()

# Accessing an attribute: 'shape'
# 'shape' returns the dimensions of the DataFrame
# shape attribute help us find df dimensions (number of rows and columns)
print("Shape of DataFrame:", df.shape)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

Shape of DataFrame: (3, 2)

In [4]:
# lets try on Series

num = [1,2,3,4]
df = pd.Series(num)

# lets try to find out data type for the series
df.dtype

dtype('int64')

In [5]:
# lets try it on alphabets

name = ["ash", "porwal"]
df = pd.Series(name)
df.dtype # this will return dtype('O') and O stands for Object

dtype('O')

In [6]:
# we can even get the array of that pandas object
df.values # if you want it to suggest you methods/attributes then press TAB after dot(.)

# further if you want to convert that into proper list then
list(df.values)

['ash', 'porwal']

In [7]:
# we can get the information about the index as well
df.index

RangeIndex(start=0, stop=2, step=1)

In [8]:
# sometimes our pandas object contains NaN(missing values)
# to find out we have this attribute -> returns Boolean
df.hasnans

False

In [9]:
# lets create a new series with missing value
new_df = pd.Series(data=[32,45,None]) # None will get convert into NaN
print(new_df)
print()

# lets check if it has None or not with attribute
new_df.hasnans

0    32.0
1    45.0
2     NaN
dtype: float64

True

In [11]:
# lets try to find out size of the series
new_df.size #as new_df contains 3 elements so it will return 3

3