In [1]:
import pandas as pd

In [2]:
rich = pd.read_csv("TopRichestInWorld.csv")
rich

,Name,NetWorth,Age,Country/Territory,Source,Industry
0,Elon Musk,"$219,000,000,000",50,United States,"Tesla, SpaceX",Automotive
1,Jeff Bezos,"$171,000,000,000",58,United States,Amazon,Technology
2,Bernard Arnault & family,"$158,000,000,000",73,France,LVMH,Fashion & Retail
3,Bill Gates,"$129,000,000,000",66,United States,Microsoft,Technology
4,Warren Buffett,"$118,000,000,000",91,United States,Berkshire Hathaway,Finance & Investments
...,...,...,...,...,...,...
96,Vladimir Potanin,"$17,300,000,000",61,Russia,metals,Metals & Mining
97,Harold Hamm & family,"$17,200,000,000",76,United States,oil & gas,Energy
98,Sun Piaoyang,"$17,100,000,000",63,China,pharmaceuticals,Healthcare
99,Luo Liguo & family,"$17,000,000,000",66,China,chemicals,Manufacturing
100,Peter Woo,"$17,000,000,000",75,Hong Kong,real estate,Real Estate

In [4]:
# Value count will count the value of occurence
# So lets make a series of Industry column
rich = pd.read_csv("TopRichestInWorld.csv", usecols=['Industry']).squeeze()
rich

0                 Automotive
1                 Technology
2           Fashion & Retail
3                 Technology
4      Finance & Investments
               ...
96           Metals & Mining
97                    Energy
98                Healthcare
99             Manufacturing
100              Real Estate
Name: Industry, Length: 101, dtype: object

In [6]:
# lets count the value of each industry
rich.value_counts()

Fashion & Retail         18
Technology               15
Finance & Investments    13
Metals & Mining           9
Food & Beverage           8
Automotive                7
Diversified               6
Healthcare                5
Manufacturing             5
Media & Entertainment     4
Real Estate               3
Telecom                   2
Logistics                 2
Energy                    2
Service                   1
Gambling & Casinos        1
Name: Industry, dtype: int64

In [8]:
# Lets know what parameters does value_count() take
rich.value_counts(normalize=True, # if we set it to True then we are gonna get in percentage
                  sort=True, # by default it is True, so it sort the number of frequency from high to low, so setting it False we can get lowest repeated item at top.
                  ascending=False, # by default it is False, means it will go from highest to lowest number.
                  dropna=True, # by default it is True - it will drop those values to count which has None value.
                 #bin=# This only works with Numerical values
                 )

Fashion & Retail         0.178218
Technology               0.148515
Finance & Investments    0.128713
Metals & Mining          0.089109
Food & Beverage          0.079208
Automotive               0.069307
Diversified              0.059406
Healthcare               0.049505
Manufacturing            0.049505
Media & Entertainment    0.039604
Real Estate              0.029703
Telecom                  0.019802
Logistics                0.019802
Energy                   0.019802
Service                  0.009901
Gambling & Casinos       0.009901
Name: Industry, dtype: float64

In [9]:
# Lets look at what does bins do
rich = pd.read_csv("TopRichestInWorld.csv", usecols=['Age']).squeeze()
rich.value_counts(bins=5) # so it will create a group, like in output I am gonna get like below
"""
(55.6, 68.4]      33
(68.4, 81.2]      27
(81.2, 94.0]      19
(42.8, 55.6]      17
(29.935, 42.8]     5  # here it means there are 5 people in age group of 29.935 and 42.8
Name: Age, dtype: int64
"""

(55.6, 68.4]      33
(68.4, 81.2]      27
(81.2, 94.0]      19
(42.8, 55.6]      17
(29.935, 42.8]     5
Name: Age, dtype: int64