In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("TopRichestInWorld.csv")
df

,Name,NetWorth,Age,Country/Territory,Source,Industry
0,Elon Musk,"$219,000,000,000",50,United States,"Tesla, SpaceX",Automotive
1,Jeff Bezos,"$171,000,000,000",58,United States,Amazon,Technology
2,Bernard Arnault & family,"$158,000,000,000",73,France,LVMH,Fashion & Retail
3,Bill Gates,"$129,000,000,000",66,United States,Microsoft,Technology
4,Warren Buffett,"$118,000,000,000",91,United States,Berkshire Hathaway,Finance & Investments
...,...,...,...,...,...,...
96,Vladimir Potanin,"$17,300,000,000",61,Russia,metals,Metals & Mining
97,Harold Hamm & family,"$17,200,000,000",76,United States,oil & gas,Energy
98,Sun Piaoyang,"$17,100,000,000",63,China,pharmaceuticals,Healthcare
99,Luo Liguo & family,"$17,000,000,000",66,China,chemicals,Manufacturing
100,Peter Woo,"$17,000,000,000",75,Hong Kong,real estate,Real Estate

In [14]:
net_worth_df = pd.read_csv("TopRichestInWorld.csv", usecols=['Name','NetWorth']).squeeze()
print(type(net_worth_df)) # This is a Dataframe, but we want that as Series
# And series is 1D only, how to make it into Series?
# So what if we specify Name as index, this way we can access elements with help of Name
net_worth_series = pd.read_csv("TopRichestInWorld.csv", usecols=['Name','NetWorth'], index_col='Name').squeeze()
print(type(net_worth_series))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [16]:
# Now lets try to find net worth of Mukesh Ambani
net_worth_series[0:10] # we can still slice them. Means we still access elements via position
net_worth_series["Mukesh Ambani"]

'$90,700,000,000'

In [19]:
net_worth_series["Bill Gates":"Mukesh Ambani"] # Slicing via index

Name
Bill Gates        $129,000,000,000
Warren Buffett    $118,000,000,000
Larry Page        $111,000,000,000
Sergey Brin       $107,000,000,000
Larry Ellison     $106,000,000,000
Steve Ballmer      $91,400,000,000
Mukesh Ambani      $90,700,000,000
Name: NetWorth, dtype: object

In [20]:
# lets try to find out index info
net_worth_series.index

Index(['Elon Musk', 'Jeff Bezos', 'Bernard Arnault & family', 'Bill Gates',
       'Warren Buffett', 'Larry Page', 'Sergey Brin', 'Larry Ellison',
       'Steve Ballmer', 'Mukesh Ambani',
       ...
       'Savitri Jindal & family', 'Wang Wenyin', 'Li Xiting', 'Stefan Persson',
       'Steve Cohen', 'Vladimir Potanin', 'Harold Hamm & family',
       'Sun Piaoyang', 'Luo Liguo & family', 'Peter Woo'],
      dtype='object', name='Name', length=101)