In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Pokemon.csv", index_col="#")
df.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

agg() is used to aggregate(combine) one or more operations over the specified axis.

In [3]:
# in our dataframe we have Attack and Defense column - now I want to use mean method to attack
# and want to use max method on Defense

df.agg({"Attack": "mean", "Defense": "max"}) # this returns a Series
# so, we did aggregate one or more operations in our dataframe.

Attack      79.00125
Defense    230.00000
dtype: float64

In [4]:
# Suppose if I want mean, max and standard deviation on one column only
# then I would do like below
df.agg({"Attack": ["min", "max", "std"], "Defense": ["max"]})

         Attack  Defense
min    5.000000      NaN
max  190.000000    230.0
std   32.457366      NaN

In [5]:
df.agg({"Attack": ["min", "max", "std"], "Defense": ["max", "min", "std"]})

         Attack     Defense
min    5.000000    5.000000
max  190.000000  230.000000
std   32.457366   31.183501

We can also use agg() without a dictionary

In [6]:
df.agg('max', numeric_only=True) # so, basically this will perform on entire Dataframe.
# so if we dont pass numeric_only=True then we are going to get some warings, and max 
# operation only works with Numeric type columns.

Total          780
HP             255
Attack         190
Defense        230
Sp. Atk        194
Sp. Def        230
Speed          180
Generation       6
Legendary     True
dtype: object